
volumes:
  trading_models:
    driver: local

services:
  # A. Service pour l'Entraînement et la Préparation des Données
  pipeline:
    build: 
      context: .
      dockerfile: Dockerfile.pipeline 
    image: trading-pipeline:latest
    volumes:
      - trading_models:/app/models 
      - ./config:/app/config
    restart: "on-failure"    
    entrypoint: ["python", "run_pipeline.py"] 

  # B. Service pour l'API (Inférence en temps réel)
  api:
    build: 
      context: .
      dockerfile: Dockerfile.api 
    image: trading-api:latest
    ports:
      - "8000:80"
    volumes:
      - trading_models:/app/models
    restart: always
    command: uvicorn api.main:app --host 0.0.0.0 --port 80